.checkbox {
    position: relative;
    margin-bottom: 30px;

    &__label {
      display: flex;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      color: var(--text-color-gray);
      padding-left: 24px;
    }

    @media screen and (min-width:1200px){
      &__label {
        display: inherit;
        font-size: 14px;
          line-height: 1.71;
      }
    }

        // position: relative;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
        // margin: 0;
        // margin-bottom: 0px;
        // padding: 0;
        // padding-left: 0px;
        // padding-left: 24px;
        // font-size: 12px;
        // line-height: 1.25;
        // letter-spacing: 0.03em;
    
    &__terms-conditions-link {
      color: var(--accent-color);
      text-decoration: none;
      
    }
    
    &__border-icon {
      position: absolute;
      left: 0;
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 250ms var(--cubik-timings);
    }
    
    &__check-icon {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 250ms var(--cubik-timings);
    }
    
    &__input:checked ~ .checkbox__border-icon {
      opacity: 0;
    }
    
    &__input:checked ~ .checkbox__check-icon {
      opacity: 1;
    }
  }
  
