.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
   &__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color-main);
  border-radius: 4px;
  text-decoration: none;
  fill: var(--icons-color-main);
  transition: border 250ms var(--cubik-timings), fill 250ms var(--cubik-timings);
  
}
  &__link:hover,
  &__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
 &__list {
  display: flex;
  list-style: none;
  padding: 0;
}
 &__item {
  margin-right: 30px;
}
 &__item:last-child {
  margin-right: 0;
}
}
