.footer-social {
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-color);
  }
  
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--cubik-timings);
  }
  
  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }
  
  &__item {
    margin-right: 10px;
  }
  
  &__item:last-child {
    margin-right: 0;
  }
  
  &__icon {
    fill: var(--white-color);
  }
  
}

