.header {
  &__desktop-address-list {
margin-left: auto;
list-style: none;

padding: 0;
}

@media screen and (max-width:768px) {
  &__desktop-address-list {
    display: none;
  }
}


@media screen and (min-width: 1200px) {
  &__desktop-address-list {
    display: flex;
  }
}
    


&__desktop-address-item {
margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  &__desktop-address-item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}


&__desktop-address-item:last-child {
margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  &__desktop-address-item:last-child {
    margin-right: 0;
  }
}

&__desktop-address-link {
  display: flex;

align-items: center;
font-weight: 500;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--text-color-gray);
padding-top: 5px;
padding-bottom: 5px;
transition: color 250ms var(--cubik-timings);
}

@media screen and (min-width: 1200px){
  &__desktop-address-link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 15px;
    padding-bottom: 15px;

  }
}

&__desktop-address-link:hover,
&__desktop-address-link:focus {
color: var(--accent-color);
}

&__desktop-icon-phone {
fill: currentColor;
margin-right: 10px;
}

&__desktop-icon-envelope {
fill: currentColor;
margin-right: 10px;
}
}
