.header {
&__desktop-nav-list {
        list-style: none;
        display: flex;
        padding: 0;
    }

@media screen and (max-width: 767px) {
    &__desktop-nav-list {
        display: none;
    }
}

    &__desktop-nav-item {
        margin-right: 50px;
    }

    &__desktop-nav-item:last-child {
        margin-right: 0;
    }

    &__desktop-nav-link--current {
        color: var(--accent-color);
    }

    &__desktop-nav-link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--text-color-black);
        padding-top: 34px;
        padding-bottom: 33px;
        transition: color 250ms var(--cubik-timings);

    }

    &__desktop-nav-link:hover,
    &__desktop-nav-link:focus {
        color: var(--accent-color);
    }

    &__desktop-nav-link--current::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

