// .hero {
//     background-color: #2f303a;
//     text-align: center;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/main/team-work.jpg);
  
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
  
//     padding-top: 200px;
//     padding-bottom: 200px;

//     &__title {
//       width: 696px;
//       font-weight: 900;
//       font-size: 44px;
//       line-height: 1.36;
//       letter-spacing: 0.06em;
//       color: var(--white-color);
//       margin-bottom: 40px;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
 
$hero-background-image-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
    max-width: 1600px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;

    background: #2f303a;
    text-align: center;
    background-image: $hero-background-image-gradient ,
      url(../images/main/mobile-hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

      
      

        @media screen and (min-width: 768px){
          .hero {
            background-image: url(../images/main/tablet-hero.jpg);
          }
        }

      &__title {
        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (min-width:1200px) {
        &__title {
          font-size: 44px;
          line-height: 1.36;
        }
      }
     
      }



      